@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


/* * {
  border: 1px solid rgb( 250, 126, 112 );
} */



/* MAIN STYLES */

body {
  margin: 0;
  background-color: #F3DFBF;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 52px auto;
}

.search-container {
  text-align: center;
}

.search-bar {
  border: 2px solid #002500;
}

.plant-item {
  /* background-color: #FBF1EF; */
  border: 2px solid #002500;
  border-radius: 5px;
  width: 25%;
}

/* HEADER STYLES */


.header-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #598392;
  color: rgb(242, 242, 242);
}


.card-img {
  width: 100%
}



/* FOOTER STYLES */

footer {
  background-color: #598392;
  color: rgb(242, 242, 242);
}
