@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


/* * {
  border: 1px solid rgb( 250, 126, 112 );
} */



/* MAIN STYLES */

body {
  margin: 0;
  background-color: #F3DFBF;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  max-width: 1200px;
  margin: 52px auto;
}

.feature-group {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.feature-image, .feature-group-text {
  width: 50%;
  height: 325px;
}

.search-container {
  text-align: center;
}

.search-bar {
  border: 2px solid #002500;
}

.plant-item-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.plant-item {
  /* background-color: #FBF1EF; */
  border: 2px solid #002500;
  border-radius: 5px;
  width: 25%;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  
}

.hero-image {
  object-fit: cover;
}

.center-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HEADER STYLES */


.header-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #598392;
  color: rgb(242, 242, 242);
}


.card-img {
  width: 100%
}



/* FOOTER STYLES */

footer {
  background-color: #598392;
  color: rgb(242, 242, 242);
  text-align: center;
  position: relative;
  top: 110px;
}

a {
  color: rgb(242, 242, 242);
  text-decoration: none;
}