@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


/* * {
  border: 1px solid rgb( 250, 126, 112 );
} */



/* MAIN STYLES */

body {
  background-color: #F3DFBF;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.main-content {
  text-align: center;
  
}

.form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  max-width: 1200px;
  margin: 52px auto;
}
.feature-group {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.feature-image, .feature-group-text {
  width: 50%;
  height: 250px;
}

.search-container {
  text-align: center;
  margin: 30px;
}

#search{
  width: 300px;
  height: 35px;
}

.plant-item-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.plant-item {
  /* background-color: #FBF1EF; */
  border: 2px solid #002500;
  border-radius: 5px;
  width: 25%;
  margin: 10px;
}

button, .search-button{
  background: #002500;
  color: white;
  border-radius: 5px;
  padding: 4px;
  font-size: 18px;
}

.primary-button, .secondary-button {
  margin: 10px 2px 0px 2px;
}

.header-container, .header-container-signup, .header-container-login {
  background-image: url("https://i.ibb.co/2y8t9HG/IMG-8461.jpg" 
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 100%;
  min-height: 300px;
  width: auto;
  height: auto;
}

.header-container-signup, .header-container-login {
  height: auto;
  color: white;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  min-width: 100%;
  min-height: 300px;
  width: auto;
  height: auto;
}

.hero-header{
  font-size: 50px;
}

.large-text {
  font-size: 20px;
}

label {
  font-weight: bold;
  font-size: 18px;
}

.center-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.signup-text {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 110px;
}

.login-text {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 110px;
}


.signuploginbox {
  size: 100;
  height: 25px;
}

/* HEADER STYLES */


.header-content{
  margin: -10px -10px 0px -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #598392;
  color: rgb(242, 242, 242);
}

.header-links {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.card-img {
  width: 100%
}



/* FOOTER STYLES */

.footer-content {
  min-width: 100%;
  width: auto;
  height: auto;
  display: flex;
  background-color: #598392;
  color: rgb(242, 242, 242);
  justify-content: center;
  text-align: center;
  padding-bottom: 1px;
  margin: 0px -10px -0px -10px;
}

a {
  color: rgb(242, 242, 242);
  text-decoration: none;
}

